<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right">
			© Copyright 2019 All rights reserved
		</p>
		<p>
			<a href="#">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>