<div class="logo-center">
    <article>
      <%= image_tag("logo.png", width:600, :alt => "logo", :class => "logo-center") %>
      <blockquote class="blockquote text-center">
        <p class="mb-0">SHOELINE is an online company that sells kicks, namely Adidas, Nike, Under Amour, Anta, and etc. We sell you the shoes you want, order it from us and your shoe will be on the line and will be at your door as fast as we can.</p>
        <footer class="blockquote-footer">Said by <cite title="Source Title">Shoeline</cite></footer>
      </blockquote>
    </article>
  </div>
</div> <!-- container .//  -->