<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<div class="card-deck">
  <% @products.each do |product| %>
  <div class="card">
    <% if product.image.present? %>

    <%= image_tag product.image%>

    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to product.name, product %></h5>
      <p class="card-text"><%= product.description %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <% end %>
</div>
